html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom:230px; /* footer height */
  }
  footer{
      position:absolute;
      bottom: 0;
      width: 100%;
      min-height:230px;
      padding-top:30px;
      padding-bottom:45px;
      background-color:#2d2d2d;
      color:#fff;
  }
  footer .footer-bottom{
      position:absolute;
      bottom:0;
      width:100%;
      color:#aaa;
      background-color:#222;
      margin-top:30px;
      min-height:45px;
      padding:10px 0;
      font-size:0.8rem;
      overflow:hidden;
  }
  footer h5{
      font-size:0.9rem;
  }
  a{
      color:#25B7D3;
  }
  a:hover{
      color:#409ebd;
  }
  a.orange{
      color:#ffb400;
  }
  footer .container{
      position:relative;
  }
  .desenvolvimento{
      text-align:center;
      position:absolute;
      right:15px;
      top:0;
      font-size:11px
  }
  .desenvolvimento img{
      width:50px;
      height:54px;
      padding-bottom:8px;
      opacity:0.8;
  }
  .desenvolvimento a:hover img{
      opacity:1;
  }
  .desenvolvimento a{color:#aaa}
  .desenvolvimento a:hover{text-decoration:none}
  .header-image{
      color:#fff;
      background: url(/img/pi.png) no-repeat;
      background-size:cover;
      height:416px;
  }
  @media (max-width: 767px) {
      .header-image {
          background-position:30% 0%;
      }
  }
    
  @media (min-width: 768px) {
      .header-image {
          background-position:25% 0%;
      }
  }
    
  @media (min-width: 992px) {
      .header-image {
          background-position:20% 0%;
      }
  }
    
  @media (min-width: 1200px) {
      .header-image {
          background-position:0% 0%;
      }
  }
  .carousel{
      height:416px;
      padding-top:70px;
  }
  .carousel-inner{
      height:416px;
  }
  .carousel h2{
      color:#ffde00;
      font-size:30px;
      padding-bottom:20px;
  }
  .carousel p{
      color:#fff;
      font-size:20px;
  }
  .carousel a{
      color:#eee;
  }
  .row-title{
      padding-top:50px;
      padding-bottom:30px;
      font-size:18px;
  }
  .box{
      position:relative;
      display:block;
      border:1px solid #ccc;
      border-radius:5px;
      width:170px;
      height:140px;
      text-align:center;
      padding:15px 0px;
      color:#333;
      margin-bottom:20px;
  }
  .box:hover{
      border-color:#5abbd6;
      box-shadow: 0 0 0 0.2rem rgba(90, 187, 214, 0.50);
      color:#333;
      text-decoration:none;
  }
  .box i{
      font-size:80px;
  }
  .box .fa-bus{color:#f36c6c}
  .box .fa-file{color:#65748c}
  .box .fa-credit-card{color:#f0b143}
  .box .fa-address-card{color:#38b9d0}
  .box .fa-envelope{color:#d19a78}
  .box span{
      display:block;
      position:absolute;
      bottom:0;
      text-align:center;
      width:100%;
      margin-bottom:5px;
  }
  .news-row{
      background-color:#eee;
      margin-top:50px;
      padding-bottom:70px;
  }
  .news-item{
      position:relative;
      margin-bottom:20px;
  }
  .news-date{
      height:50px;
      width:40px;
      color:#fff;
      line-height: 1.2;
      padding-top:0.5em;
      background-color:rgba(90,187,214,0.8);
      text-align:center;
      position:absolute;
  }
  .news-date .day{
      font-size:16px;
      font-weight:bold;
  }
  .news-date .month{
      font-size:12px;
  }
  .news-item img{
      object-fit: cover;
      height:120px;
  }
  .news-item a.text-dark:hover{
      text-decoration:none !important;
      color:#777 !important;
  }
  .news-item a.readmore{
      display:inline-block;
      color:#5abbd6;
      margin-top:10px;
  }
  
  /*=======================================
                  COMPONENTES
  =========================================*/
  .list-bordered{
      padding-left: 0;
      list-style: none;
  }
  .list-bordered li{
      display: inline-block;
      border:1px solid #e5e5e5;
      margin-right:5px;
      margin-bottom:10px;
      padding:2px 4px;
      font-size:14px;
  }
  .list-bordered li:hover{
      border-color:#5abbd6;
  }
  
  .submenu{
      margin-bottom:40px;
  }
  
  .submenu .nav-link.active{
      color:#ffb400;
      background-color:#f9f7f1;
  }
  /*
  .submenu .nav-link.active{
      font-weight:bold;
      color:#25B7D3;
      background-color:transparent;
  }
  */
  .submenu a{
      color:#25B7D3;
  }
  .submenu a:hover{
      color:#409ebd;
  }
  
  .crumbs{
      margin-top:-30px;
      border-bottom:1px solid #ddd;
      padding:10px 0;
      background-color:#f5f5f5;
      font-size:14px;
  }
  .crumbs a{
      color:#ffb400;
  }
  .crumbs span{
      color:#888;
  }
  
  .radio-button .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #ffd145;
  }
  .radio-button .custom-control-input:focus ~ .custom-control-label::before {
      box-shadow: none !important;
  }
  .radio-button-item {
      width:100%; 
      text-align:left;
      padding: 10px;
      border:2px solid #ebebeb;
  }
  .radio-button-item.active {
      background-color:#f9f7f1;
      border-color:#f9edc6;
  }
  .radio-button label {
      margin-left:10px;
      cursor:pointer;
  }
  .radio-button .btn:focus,
  .radio-button .btn.focus{
      box-shadow:none;
      outline:none;
  }
  .radio-button-item{
      margin-bottom:10px;
  }
  
  /*=======================================
                  BOOTSTRAP
  =========================================*/
  .navbar{
  
      padding: .8rem 1rem;
  }
  .navbar .nav-link{
      font-weight:bold;
  }
  .text-footer {
    color:#ddd;
    font-size:0.9rem;
  }
  a.text-footer:hover, a.text-footer:focus {
    color:#ddd;
  }
  .nav-tabs .nav-link {
      color:#25B7D3;
  }
  .btn-custom{color:#fff;background-color:#448dbb;border-color:#448dbb}
  .btn-custom:hover {color: #fff;background-color:#3d7fa8;border-color:#2d739e}
  .btn-grey{background-color:#ddd;color:#555;border-color:#ddd}
  .btn-grey:hover{background-color:#d5d5d5;color:#555;border-color:#ccc}
  .btn-grey:focus, .btn-grey.focus{box-shadow: 0 0 0 0.2rem rgba(221, 221, 221, 0.5)}
  .swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
  }
  .btn-link{
      color:#25B7D3;
  }
  .btn-link:hover{
      color:#25B7D3;
  }
  .table-hover tbody tr:hover {
      background-color: rgba(0, 0, 0, 0.040);
  }
  
  /*=======================================
                  MOBILE
  =========================================*/
  @media (max-width: 767px) {
      .page {
          margin-bottom:650px; /* Margin bottom by footer height */
      }
      footer ul{
          margin-bottom:30px;
      }
      .foto-bloco{
          margin:0 auto;
      }
  }
  
  /*=======================================
                  PRINT
  =========================================*/
  @page {size: auto}
  @media print{
      .page-header, .submenu, footer{
          display:none !important;
      }
      body{margin-top:25px}
  }
  
  /*=======================================
                  PAGES
  =========================================*/
  .page-header{
      height:140px;
      background-color:#cac139;
      margin-bottom:30px;
  }
  .page-header h1{
      padding:45px 0;
      color:#fff;
      font-size:2rem;
      font-weight:bold;
  }
  .page-header .container{
      height:100%;
      position:relative;
  }
  .page-header img{
      position:absolute;
      bottom:0;
      right:0;
      display:block;
  }
  .conteudo{
      padding-bottom:40px;
  }
  .conteudo h2{
      margin-top:20px;
      margin-bottom:10px;
      font-size:1.2rem;
  }
  
  .legenda{font-size:12px}
  .legenda p{margin-bottom:8px}
  .legenda span{text-align:center;padding:1px 4px}
  .amarelo{background-color:#ffeeba}
  .amarelo:hover{background-color:#ffe8a1 !important}
  .verde{background-color:#c3e6cb}
  .verde:hover{background-color:#b1dfbb !important}